*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


header{
	background-color: #000;
	height: 100vh;
	background-image: url(png/slidemodif1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

h1{
	color: #6495ED;
	text-align: center;
	font-family: 'Slabo 27px', serif;
	font-size: 80px;
	border: 5px solid #fff;
	padding: 20px 100px;
	transition: .2s;
}

h1:hover{
	background-color: rgba(0,0,0,.6);
	padding: 10px 140px;
}